﻿@page "/"
@using WebToDesktop
@using Gtk
<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-danger" @onclick="QuitApp">Quit App</button>

@code{

    private void QuitApp(MouseEventArgs e)
    {
        Console.WriteLine("Disposing Window");
        Application.Quit();
    }

}